<body class="generaluser-singup-header">
<div class="container">
  <section class="generaluser-singup-header">
    <div class="wrapper col-md-6 col-md-offset-3 col-sm-10">
  			<div class="row main">
    				<div class="panel-heading">
               <div class="panel-title text-center">
               		<h1 class="title">無料会員登録</h1>
               		<hr />
               	</div>
    	      </div>
            <%= alert %>

            <% if flash[:errorlist] %>
              <% flash[:errorlist].each do |error| %>
                <%= error %><br>
              <% end %>
            <% end %>


    				<div class="main-login main-center">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= devise_error_messages! %>
                  <%= f.hidden_field :status, :value => "20" %>
                <!-- 名前 -->
    						<div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">名前</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                      <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
    								</div>
    							</div>
    						</div>

                <!-- メールアドレス -->
    						<div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">メールアドレス</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
    								</div>
    							</div>
    						</div>

                <!-- 職業 -->
                <div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">職業</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-building" aria-hidden="true"></i></span>
                      <%= f.select :occupation, [
                                                ["公務員", "公務員"],
                                                ["経営者・役員", "経営者・役員"],
                                                ["会社員", "会社員"],
                                                ["自営業", "自営業"],
                                                ["自由業", "自由業"],
                                                ["専業主婦", "専業主婦"],
                                                ["パート・アルバイト", "パート・アルバイト"],
                                                ["学生", "学生"],
                                                ["その他", "その他"],
                                            ] ,
                                            {include_blank:'選択してください'},mutiple:true,
                                            class:"form-control"%>
    								</div>
    							</div>
    						</div>

                <!-- 住所 -->
    						<div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">住所</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                      <%= f.text_field :address, autofocus: true, class: "form-control", placeholder: "住所" %>
    								</div>
    							</div>
    						</div>

                <!-- 店舗コード -->
                <div class="form-group">
    							<label for="password" class="cols-sm-2 control-label">店舗マスタID</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<%= f.text_field :shop_master_id, autofocus: true, class: "form-control", placeholder: "店舗マスタID" %>
    								</div>
    							</div>
    						</div>

                <!-- パスワード -->
    						<div class="form-group">
    							<label for="password" class="cols-sm-2 control-label">パスワード</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "パスワード" %>
    								</div>
    							</div>
    						</div>

                <!-- パスワード再入力 -->
                <div class="form-group">
    							<label for="password" class="cols-sm-2 control-label">パスワード再入力</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "パスワード（確認）" %>
    								</div>
    							</div>
    						</div>

                <!-- 生年月日 -->
                <div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">生年月日</label>
    							<div class="cols-sm-10">
                    <div class='input-group date birthday'>
                      <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                      <%= f.text_field :birthday, class: 'form-control'%>
                    </div>
    							</div>
    						</div>

                <!-- 国籍 -->
    						<div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">国籍</label>
                  ※It is arranged country names in alphabetical order
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-globe" aria-hidden="true"></i></span>
                      <%= f.select :nationality, [
                                                ["中华人民共和国（中国）", "CHN"],
                                                ["Reino de España", "ESP"],
                                                ["République française", "FRA"],
                                                ["The United Kingdom of Great Britain and Northern Ireland", "GBR"],
                                                ["中華人民共和國香港特別行政區（香港）", "HKG"],
                                                ["Repubblica Italiana", "ITA"],
                                                ["日本国", "JPN"],
                                                ["대한민국", "KOR"],
                                                ["Монгол Улс", "MNG"],
                                                ["مليسيا / Malaysia / 馬來西亞", "MYS"],
                                                ["சிங்கப்பூர் குடியரசு / Republik Singapura / 新加坡", "SGP"],
                                                ["Российская Федерация", "RUS"],
                                                ["中華民國（臺灣）", "TWN"],
                                                ["ราชอาณาจักรไทย", "THA"],
                                                ["The United States of America", "USA"],
                                                ["Cộng Hoà Xã Hội Chủ Nghĩa Việt Nam", "VNM"]
                                            ] ,
                                            {include_blank:'Please Select Your Country or Area'},
                                            mutiple:true,
                                            class:"form-control"%>
                      </div>
    								</div>
    							</div>

                <!-- 性別 -->
    						<div class="form-group">
    							<label for="username" class="cols-sm-2 control-label">性別</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
                      <label>
                        <%= f.radio_button :sex, "man" %>
                        <i class="fa fa-male fa-2x"></i>
                      </label>
                      &nbsp;
                      <label>
                        <%= f.radio_button :sex, "woman" ,{:checked => true}%>
                        <i class="fa fa-female fa-2x"></i>
                      </label>
                      &nbsp;
                      <label>
                        <%= f.radio_button :sex, "lgbt" %> LGBT
                      </label>
    								</div>
    							</div>
    						</div>

                <div class="input-group">
                    <%= f.check_box :agreement, :as => :boolean, checked:false %>
                    &nbsp;
                    <%= link_to '利用規約', root_url(only_path: false) + 'shop_managers/registrations/agreement' %>
                  </label>
                  <small class="help-block">※利用規約に同意できない場合は登録をご遠慮ください。</small>
                </div>

                <div class="actions">
                  <%= f.submit "サインアップ", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
              </div>
              <%= render "devise/shared/links" %>
    				</div>
  			</div>
    </div>
  </section>
</div>
</body>
