<h3>以下の内容で、投稿してよろしいですか？</h3>
<%= form_for(@coupon) do |f| %>
  <%= f.hidden_field :shop_name %>
  <%= f.hidden_field :shop_address %>
  <%= f.hidden_field :coupon_content %>
  <%= f.hidden_field :available_start_time %>
  <%= f.hidden_field :available_end_time %>
  <p>店名:<%= @coupon.shop_name %></p>
  <p>住所:<%= @coupon.shop_address %></p>
  <p>クーポン内容:<%= @coupon.coupon_content %></p>
  <p>利用開始時刻:<%= @coupon.available_start_time.strftime("%Y年%m月%d日") %></p>
  <p>利用終了時刻:<%= @coupon.available_end_time.strftime("%Y年%m月%d日") %></p>
  <%= f.submit "登録する" %>
<% end %>
<%= link_to "クーポン投稿画面にもどる", new_coupon_path %>
