<p class="flash"><%= notice %><%= alert %></p>
<!--
<script type="text/javascript">
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      // success callback
      function(position) {
        alert( "latitude: " + position.coords.latitude + "\nlongitude: " + position.coords.longitude );
      },
      // error callback
      function(position) {
        alert( "can't get position" );
      }
    )
  }
</script>
-->

<style type="text/css">
 #map { height: 1000px; /* 元々のデフォルト値は400px*/
 margin-left:auto;    /* 左側マージンを自動的に空ける */
 margin-right:auto;   /* 右側マージンを自動的に空ける */
 text-align:left;     /* 中身を左側表示に戻す */
 width: 80%;}
</style>

<!-- ここでGoogle Mapを表示させる -->
<div id="map">

</div>

<p>Otocoupon加盟店検索</p>
<form>
  <input type="text" value="東京スカイツリー" id="address">
  <input type="button" value="Search" id="button">
</form>

<!--
<%#=if @coupons.present? %>
  <p>データなし</p>
<%#= else %>
  <p>データあり</p>
<%#= end %>
-->
<% if @coupons.present? %>
<br>
<hr>
  <% @coupons.each do |coupon| %>
      <p>クーポン内容：<%= coupon.coupon_content %></p>
      <p>クーポン利用開始時刻：<%= coupon.available_start_time %></p>
      <p>クーポン利用終了時刻：<%= coupon.available_end_time %></p>
      <!-- お店種別コードも表示-->
  <% end %>
<% end %>
