<br>
<p class="flash"><%= notice %><%= alert %></p>

<div id="map-canvas">ここにマップが表示されます</div>

<p id="text"></p>

<p>Otocoupon加盟店検索</p>
<form>
  <input type="text" value="東京スカイツリー" id="address">
  <input type="button" value="Search" id="button">
</form>

<% if flash[:alert].present? %>
  <%= flash[:alert]%>
<% end %>

<% if flash[:notice].present? %>
  <%= flash[:notice]%>
<% end %>

<!-- 複数のマーカーをたてる方法https://www.tam-tam.co.jp/tipsnote/javascript/post7755.html-->
<!-- @googlemapsをjavascriptに渡す http://ikasama.hatenablog.jp/entry/2013/09/15/121746-->
<div id="hoge" data-hoge-id="<%= @googlemaps %>">
<br>
<hr>
<!-- index.js.erbに設定した内容が動く -->
<p>現在地周辺のクーポン一覧</p><br>
<div id="coupon_shop_list_test"></div>
