<br>
店舗名：<%= @coupon_detail.shop_name %><br>
クーポンタイトル：<%= @coupon_detail.coupon_title %><br>
クーポン内容：<%= @coupon_detail.coupon_content %><br>
クーポン利用開始時刻：<%= @coupon_detail.available_start_time.strftime('%Y年%m月%d日 %H:%M:%S') %><br>
クーポン利用終了時刻：<%= @coupon_detail.available_end_time.strftime('%Y年%m月%d日 %H:%M:%S') %><br>

<p>1次元バーコードの値</p><br>
<%#= @coupon_detail.coupon_one_barcode_value %><br>
<%#= @code128 %><br>
<!-- <p>QRコードの値</p><br> -->
<%#= @qrCode %>

<!-- バーコードの値はStringm型で持たせる　-->
<!--
data:image/png;base64,の部分を切り取ってDBに登録する
詳細画面表示時にDBからバーコード生成値を取得して前に「data:image/png;base64,」を結合する
-->

<!-- <b>複数回利用できるクーポンは1次元バーコードを表示。</b><br> -->
<!-- <img src="<%#= @code128 %>"><br> -->
<img src="<%= @one_barcode %>"><br>

<!-- 店舗側がQRコードを取得する -->
<!-- <b>1回限りの利用の場合はQRコードを表示する</b><br> -->
<!-- どうやって未使用、利用済みを判断するか -->
<!-- <img src="<%#= @qrCode %>"><br> -->

<!--
QRコード参考サイト:http://wp.tech-style.info/archives/932
一次元バーコード：https://qiita.com/kooshin/items/0afd50fa7c647d23af4a
-->

<!--<img src="https://api.qrserver.com/v1/create-qr-code/?data=イケてないコード&size=100x100&format=svg&color=1d417a&bgcolor=f7f6eb" alt="QRコード"/>-->

<!-- カウントダウン参考サイト：http://qiita.com/colorrabbit/items/45ee16aca2972abf7c7d-->
<script type="text/javascript">

  $(function() {
    setInterval('countss()', 1000);
  });

  let count = 0;
  function countss(geocodedShopList) {
    $("#TimeLeft").text(countDown())
  }

  function countDown() {
  let geocodedShopList = $('#calculate-time').data("limit-time");
  var nowTime = new Date();
  var availableEndTime = new Date(geocodedShopList);
  var left = availableEndTime - nowTime;
   var a_day = 24 * 60 * 60 * 1000;

   // 期限から現在までの『残時間の日の部分』
   var d = Math.floor(left / a_day)

   // 期限から現在までの『残時間の時間の部分』
  var h = Math.floor((left % a_day) / (60 * 60 * 1000))
  // 残時間を秒で割って残分数を出す。
  // 残分数を60で割ることで、残時間の「時」の余りとして、『残時間の分の部分』を出す
  var m = Math.floor((left % a_day) / (60 * 1000)) % 60
  // 残時間をミリ秒で割って、残秒数を出す。
  // 残秒数を60で割った余りとして、「秒」の余りとしての残「ミリ秒」を出す。
  // 更にそれを60で割った余りとして、「分」で割った余りとしての『残時間の秒の部分』を出す
  var s = Math.floor((left % a_day) / 1000) % 60 % 60
  // debugger; => デバッグツール
  return `${d} 日 ${h}時間 ${m}分${s}秒`
  }
</script>

<div id="calculate-time" data-limit-time="<%= @coupon_detail.available_end_time %>">
<div class="Timer">
  <h1>クーポン無効まであと</h1>
  <div id="TimeLeft"></div>
</div>
