<h1>【お知らせ】新たにクーポンが発行されました。！</h1>
<p>利用可能時間に制限がありますのでお早めにご確認ください。</p>

<p>店名：<%= @coupon.shop_name %></p>
<p>住所：<%= @coupon.shop_address %></p>
<h4>クーポン内容：<%= @coupon.coupon_content %></h4>
<p>クーポン利用開始時刻：<%= @coupon.available_start_time %></p>
<p>クーポン利用終了時刻：<%= @coupon.available_end_time %></p>
