<!DOCTYPE html>
<html>
<head>
  <title>Otocoupon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Otocoupon", root_path, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to "クーポン投稿利用登録", :controller => "coupon_shop_lists", :action => "new" %></li>
            <li><%= link_to 'クーポン投稿', new_coupon_path%></li>
            <li><%= link_to 'お気に入りリスト'%></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to 'サインアップ', new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
    </header>
<br><br>

<%= yield %>
  <br>

<!-- yieldの目的 = アクセスしたごとに読み込まれる-->
<!--
indexの場合はindex.html.erbに記載された内容が反映される
newの場合はnew.html.erbの記載した内容が反映される
-->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= @gmapkey %>"></script>
</body>
</html>
