<!DOCTYPE html>
<html>
<head>
  <title>OTOCOUPON</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <header>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "OTOCOUPON", root_path, class: "navbar-brand", method: 'get' %>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
        <% if shop_manager_signed_in? || general_user_signed_in? %>
          <% if shop_manager_signed_in? %>
            <!-- TODO link_to_unless_currentに変更する -->
            <% if current_user.status == '30' %>
              <li><%= link_to '発行済みクーポン一覧', issuedcoupon_coupon_shop_lists_path %></li>
              <li><%= link_to 'マイショップ', myshop_coupon_shop_lists_path%></li>
              <li><%= link_to 'クーポン投稿', new_coupon_path, method: 'get' %></li>
            <% else %>
              <li><%= link_to 'クーポン投稿サービス利用登録', new_coupon_shop_list_path, method: 'get' %></li>
              <li><%= link_to 'マイページ', edit_shop_manager_registration_path %></li>
            <% end %>
            <li><%= link_to 'マイページ', edit_shop_manager_registration_path %></li>
            <li><%= link_to 'ログアウト', destroy_shop_manager_session_path, method: :delete %></li>
          <% end %>
          <% if general_user_signed_in? %>
              <li><%= link_to 'お気に入りショップリスト' %></li>
              <li><%= link_to 'マイページ', edit_general_user_registration_path %></li>
              <li><%= link_to 'ログアウト', destroy_general_user_session_path, method: :delete %></li>
              <li><%= link_to 'FAQ', question_coupons_path %></li>
          <% end %>
        <% else %>
          <% if url_for(only_path: false).include?("general_users") %>
            <li><%= link_to 'ログイン', root_url(only_path: false) + 'general_users/sign_in' %></li>
            <li><%= link_to 'サインアップ', root_url(only_path: false) + 'general_users/sign_up',  method: 'get' %></li>
          <% else %>
            <li><%= link_to 'ログイン', root_url(only_path: false) + 'shop_managers/sign_in' %></li>
            <li><%= link_to 'サインアップ', root_url(only_path: false) + 'shop_managers/sign_up', method: 'get'  %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
    </header>
<br><br>
<%= yield %>
  <br>

<!-- yieldの目的 = アクセスしたごとに読み込まれる-->
<!--
indexの場合はindex.html.erbに記載された内容が反映される
newの場合はnew.html.erbの記載した内容が反映される
-->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= @gmapkey %>"></script>
  <style type="text/css">
   #map-canvas { height: 500px; /* 元々のデフォルト値は400pxで理想は1000px*/
   margin-left:auto;    /* 左側マージンを自動的に空ける */
   margin-right:auto;   /* 右側マージンを自動的に空ける */
   text-align:left;     /* 中身を左側表示に戻す */
   width: 80%;}
  </style>

  <footer>
    <!-- <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p> -->

    <div align= "right" >
      <%= image_tag 'facebook_icon.png'  %>
      <%= image_tag 'twitter_icon.png' %>
      <%= image_tag 'instagram_icon.png' %>
      <%= image_tag 'LINE_Icon.png' %>
      <%= link_to 'よくある質問', question_coupons_path %>
      <!-- JQueryやjavascriptを動かすにはget使うと初回ページ読み込み時でも動く-->
      <%= link_to '採用情報', recruit_coupons_path, method: 'get' %>
      <%= link_to 'プレスリリース'%>
    </div>
  </footer>
</body>
</html>
