<%= form_for(@new_coupon_shop, url: confirm_coupon_shop_lists_path) do |f| %>
<% if @new_coupon_shop.errors.any? %>
  <div id="error_explanation">
    <h2><%= @new_coupon_shop.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @new_coupon_shop.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:errorlist] %>
  <% flash[:errorlist].each do |error| %>
    <%= error %><br>
  <% end %>
<% end %>

<!-- <%= f.label :shop_name, "親会社名"%>
<%= f.hidden_field :shop_name, :value => @getParentCompanyInfo.parent_company_name %>
<%= f.text_field :shop_name, value: @getParentCompanyInfo.parent_company_name , :disabled => true, size: "100x50"%><br>

<%= f.label :shop_name, "子会社名"%>
<%= f.hidden_field :shop_name, :value => @getParentCompanyInfo.parent_company_name %>
<%= f.text_field :shop_name, value: @getParentCompanyInfo.subsidiary_company_name , :disabled => true, size: "100x50"%><br> -->

  <%= f.label :telephone_number, "電話番号"%> <%= f.text_field :telephone_number %> ※ハイフン不要<br>

  <%= f.label :shop_name, "店名(支店名)"%> <%= f.text_field :shop_name %>
  <%= f.label :occupation_code, "職種"%>
  <%= f.select :occupation_code, [
                                  ["ホテル・旅館", "hotel"],
                                  ["フィットネス(ジム・運動場・プールなど)", "gymnasium"],
                                  ["風俗・水商売", "nightlife"],
                                  ["医療(薬局・ドラッグストア)", "medical"],
                                  ["小売業(コンビニ・専門店など)", "retail"],
                                  ["アパレル・ファッション", "fashion"],
                                  ["美容・コスメ", "beauty"],
                                  ["娯楽・アミューズメント(映画館・ゲームセンターなど)", "amusement"]
                                ] ,class:"form-control" %>
  <br><%= f.label :shop_address, "住所"%> <%= f.text_field :shop_address %>
  <!-- 業種コードを設定する -->
  <br><%= f.label :all_day_flag, "24時間営業"%>
  <div class="coupon-check">
    <!-- coupons.coffeeに処理の記載あり-->
    <label><%= f.radio_button :all_day_flag, "true" %> YES</label>
    <label><%= f.radio_button :all_day_flag, "false" ,{:checked => true}%> NO</label>
  </div>

　<div class="coupon-time-click">
    <br><%= f.label :open_time, "開店時刻"%> <%= f.time_select :open_time %>
    <br><%= f.label :close_time, "閉店時刻"%> <%= f.time_select :close_time%>
　</div>

  <div class="holiday">
    <label><%= f.radio_button :holiday_condition, "true" ,{:checked => true}%> 年中無休</label>
    <label><%= f.radio_button :holiday_condition, "false" %> 定休日あり</label>
  </div>

  <div class="holiday-condition">
    <%= f.check_box 'holiday', {multiple: true}, 'Mon',nil %>月曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Tue',nil %>火曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Wed',nil %>水曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Thu',nil %>木曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Fri',nil %>金曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Sat',nil %>土曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Sun',nil %>日曜日
    <%= f.check_box 'holiday', {multiple: true}, 'Nat',nil %>祝日
  </div>

  <br>
  <%= f.submit("利用登録") %>
<% end %>
