<!-- <body class="regist_coupon_service">
<div class="container">
    <div class="wrapper col-md-8 col-md-offset-3 col-sm-10">
      <div id="nav">
        <h1>クーポンショップ編集</h1>
        <%#= render 'form' %>
      </div>
    </div>
</div>
</body> -->

<br>
<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <!-- <%#= form_for(@edit_shop, url: choose_new_or_edit) do |f| %> -->
    <%= form_for(@edit_shop, url: confirm_coupon_shop_lists_path) do |f| %>
    <%= f.hidden_field :branch_office_id  %>
    <%= f.hidden_field :id  %>
    <%= f.hidden_field :subsidiary_company_name %>

       <%= f.label :店名 %>
       <br><%= f.text_field :shop_name, value: @edit_shop.shop_name, :disabled => true %><br>
       <%= f.label :電話番号 %>
       <br><%= f.text_field :telephone_number, value: @edit_shop.telephone_number %><br>
       <%= f.label :住所 %>
       <br><%= f.text_field :shop_address, value: @edit_shop.shop_address, size: "100x50", :disabled => true %><br>
       <br><%= f.label :occupation_code, "職種"%>
       <%= f.select :occupation_code, [
                                       ["ホテル・旅館", "hotel"],
                                       ["フィットネス(ジム・運動場・プールなど)", "gymnasium"],
                                       ["風俗・水商売", "nightlife"],
                                       ["医療(薬局・ドラッグストア)", "medical"],
                                       ["小売業(コンビニ・専門店など)", "retail"],
                                       ["アパレル・ファッション", "fashion"],
                                       ["美容・コスメ", "beauty"],
                                       ["娯楽・アミューズメント(映画館・ゲームセンターなど)", "amusement"]
                                     ] ,class:"form-control" %>
      <br><%= f.label :all_day_flag, "24時間営業"%>
       <div class="coupon-check">
         <!-- coupons.coffeeに処理の記載あり-->
         <label><%= f.radio_button :all_day_flag, "true" %> YES</label>
         <label><%= f.radio_button :all_day_flag, "false" ,{:checked => true}%> NO</label>
       </div>

       <div class="coupon-time-click">
           <br><%= f.label :open_time, "開店時刻"%> <%= f.time_select :open_time %>
           <br><%= f.label :close_time, "閉店時刻"%> <%= f.time_select :close_time%>
       　</div>

         <div class="holiday">
           <label><%= f.radio_button :holiday_condition, "true" ,{:checked => true}%> 年中無休</label>
           <label><%= f.radio_button :holiday_condition, "false" %> 定休日あり</label>
         </div>

         <div class="holiday-condition">
           <%= f.check_box 'holiday', {multiple: true}, 'Mon',nil %>月曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Tue',nil %>火曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Wed',nil %>水曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Thu',nil %>木曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Fri',nil %>金曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Sat',nil %>土曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Sun',nil %>日曜日
           <%= f.check_box 'holiday', {multiple: true}, 'Nat',nil %>祝日
         </div>
         <br>
         <%= f.submit("更新") %>
    <% end %>
  </div>
</div>
